* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
header {
    height: 80px;
    border-bottom: 1px solid #ddd;
}
header > div {
    height: 80px;
    width: 90%;
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
}
header .logo {
    float: left;
}
header .logo img {
    height: 60px;
    margin-top: 10px;
}
header .menu {
    float: right;
}
header .menu li {
    display: inline-block;
    margin-left: 30px;
    margin-top: 28px;
}
#idx_top{
    width: 100%;
    padding: 150px 0;
    background: url(https://media.istockphoto.com/id/1356565274/ko/%EC%82%AC%EC%A7%84/%ED%98%84%EB%8C%80-%EC%B6%94%EC%83%81-%EB%AC%BC%EA%B2%B0-%EB%AA%A8%EC%96%91%EC%9D%98-%EB%B0%B0%EA%B2%BD.jpg?s=612x612&w=0&k=20&c=Kq5JTObRx0KEt5ZEtUIXs4GhUeUIl188PO5w6WF7qCo=) no-repeat 50% 50% /cover;
    text-align: center;
}

#idx_top strong{
    font-size: 60px;
    color: #fff;
    letter-spacing: -2px;
}
#idx_top p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
#idx_top strong{
    color: yellow;
}